
.dui-dialog { position:fixed;_position:absolute;z-index:1000; }
.dui-dialog .dui-dialog-content {
  position: relative;
  z-index: 2;
  background: #fff;
  border: 1px solid #bbb;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
}
.dui-dialog .dui-dialog-shd {
  display: none;
}


.dui-dialog .hd { padding: 0; }

.dui-dialog .bd { position:relative; padding:0px 30px 10px; margin-top: 30px; font-size:12px;}
.dui-dialog .bd:after { content:'\0020';clear:both;display:block; }

.dui-dialog .ft input { margin:0; height: 44px!important; width: 100%;border: 0!important;padding: 0 0 2px;color: #fff; font-size: 17px; background: #42bd56!important;}
.dui-dialog .ft { text-align:center;padding:30px;padding-top:0;}

.dui-dialog .captcha-item {
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: left;
}
.dui-dialog .captcha-img {
  height: 34px;
  width: auto!important;
  margin: 5px 0 5px 5px!important;
}
.dui-dialog input#captcha {
  height: 42px!important;
  width: 100%!important;
  border: 0!important;
  border-top: 1px solid #aaa!important;
  box-sizing: border-box;
}
a.dui-dialog-close {
  position: absolute;
  top: 5px;
  right: 12px;
  padding: 0 3px;
  z-index: 1;
  font: 17px/2 "Comic Sans MS", sans-serif;
}
a.dui-dialog-close:link { color:#b4b4b4; }
a.dui-dialog-close:hover {color: #fab0b6; background:none; }
.dui-dialog .dui-dialog-shd {
    position:absolute;
    left:-8px;
    top:-8px;
    width:100%;
    height:100%;
    padding:8px;
    background:#666;
    opacity:.4;
    filter:alpha(opacity=50);
    -ms-filter:"alpha(opacity=50)";
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-raduis:5px;
}
.dui-dialog-iframe { border:0;background:transparent;position:absolute;z-index:1;left:-8px;top:-8px;opacity:0;filter:alpha(opacity=0); }
.dui-dialog-msk {
    background:#000;
    position:absolute;
    width: 100%;
    z-index:999;
    left:0;
    top:0;
    opacity:0.3;
    filter:alpha(opacity=30);
}

