<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <meta name="format-detection" content="telephone=no">
    <title>登录</title>
    <link rel="stylesheet" href="css/mobile_accounts.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.dialog.css"></head>
  
  <body>
    <div class="wrapper">
      <div class="header">
        <span class="title">小熊</span></div>
      <h1>
        <a href="javascript:history.go(-1);">取消</a>登录</h1>
      <div class="mobile-accounts">
        <form method="post" action="/login">
          <div class="form-element form-element-first">
            <label>
              <strong>帐号</strong>
              <input type="text" name="user_id" placeholder="邮箱 / 手机号 / 用户名" value=""></label>
          </div>
          <div class="form-element form-pwd">
            <label>
              <strong>请输入密码</strong>
              <input type="password" name="password" id="form_password" placeholder="密码">
              <span class="openpwd" id="openpwd_button"></span>
            </label>
          </div>
          <div class="form-element hide">
            <input id="remember" type="checkbox" name="remember" checked="">
            <label for="remember">下次自动登录</label></div>
          <div class="form-element submit-button">
            <input type="hidden" name="source" value="None">
            <input type="hidden" name="redir" value="None">
            <input class="btn-submit" type="submit" value="登录">
            <p class="hide">在第三方应用的内置浏览器中登录帐号，可能会泄露你的帐户信息。请谨慎登录！</p></div>
        </form>
        <div class="item item-3rd">
          <div class="more-login-btn" id="my_div">使用其他方式登录 &amp; 找回密码</div>
          <div class="btn-wrapper">
            <a class="btn reg-btn" href="register">注册帐号</a>
            <a class="btn open-app">下载App</a></div>
        </div>
      </div>
      <div id="more-login-dialog" class="dui-dialog more-login-dialog" style="visibility: hidden; top: 198px; left: 18px; width: 339px; position: fixed;">
        <span class="dui-dialog-shd" style="width: 339px; height: 255px;"></span>
        <div class="dui-dialog-content">
          <a class="j_close_dialog dui-dialog-close" id="my_a" onclick="document.getElementById(" more-login-dialog ").style.visibility="hidden ";">X</a>
          <div class="hd">
            <h3></h3>
          </div>
          <div class="bd" style="height: auto; overflow: visible;">
            <a target="_top" href="#" class="item">用微博登录</a>
            <a target="_top" href="#" class="item">用微信登录</a>
            <a href="#" class="item">用手机验证码登录</a>
            <a href="#" class="item">找回密码</a></div>
        </div>
      </div>
      <div class="dui-dialog-msk"></div>
      <script type="text/javascript">var divM = document.getElementById("my_div");
        var divA = document.getElementById("my_a");
        var hh_dialog = document.getElementById("more-login-dialog");
        var openpwd_button = document.getElementById("openpwd_button");
        var password_window = document.getElementById("form_password");
        divM.onclick = function() {
          hh_dialog.style.visibility = "visible";
        }
        divA.onclick = function() {
          hh_dialog.style.visibility = "hidden";
        }
        openpwd_button.onclick = function() {
          var input_form_type = password_window.getAttribute("type");
          if (input_form_type == "password") {
            password_window.setAttribute("type", "text");
          } else {
            password_window.setAttribute("type", "password");
          }
        }</script>
  </body>

</html>